.header2 {
    height: 30vh;
    width: 100%;
    background: url("../img/bg4.jpg") center fixed;
    background-size: cover;
}
.header2 .flex-overlay3 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.header2 .flex-overlay3 h1 {
    text-align: center;
    text-shadow: 2px 2px black;
    font-size: 80px;
}
